-if flash[:notice] || flash[:alert] || flash[:warning] || flash[:error]
  .container
    .row.notifications.fade.in
      .col-md-12
        .notification
          -if flash[:notice]
            .alert.alert-dismissable.alert-success
              %button.close{ type: 'button', data: { dismiss: 'alert', aria_hidden: 'true' } }
                &times;
              = notice
          -if flash[:alert]
            .alert.alert-dismissable.alert-warning
              %button.close{ type: 'button', data: { dismiss: 'alert', aria_hidden: 'true' } }
                &times;
              = flash[:alert]
          -if flash[:warning]
            .alert.alert-dismissable.alert-warning
              %button.close{ type: 'button', data: { dismiss: 'alert', aria_hidden: 'true' } }
                &times;
              = flash[:warning]
          -if flash[:error]
            .alert.alert-dismissable.alert-danger
              %button.close{ type: 'button', data: { dismiss: 'alert', aria_hidden: 'true' } }
                &times;
              = flash[:error]