.navbar.navbar-default{ role: "navigation" }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: "button", data: {toggle: "collapse", target: "#nav-primary"} }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "#" }

    .navbar-collapse.collapse#nav-primary
      %ul.nav.navbar-nav
        %li.active
          =link_to "Home", root_path
        %li
          =link_to "Link 1", "link1"