/* Base Application Layout
----------------------------------------- */
.layout-application {

}

/* Landing Page Layout
----------------------------------------- */
.layout-landing {

}

/* Static Page Layout
----------------------------------------- */
.layout-page-static {

}