= render template: 'shared/head'

%body.layout-landing
  = render template: 'shared/navigation'
  = render template: 'shared/flash'

  .container.container-main
    = yield

  = render template: 'shared/footer'