= render template: 'shared/head'

%body.layout-page-static
  = render template: 'shared/navigation'
  = render template: 'shared/flash'

  .container.container-main
    = yield

  = render template: 'shared/footer'